<footer class="footer">

    <div class="project-nav-buttons {% unless page.next.url %}no-previous{% endunless %}">
        {% if page.next.url %}
            <a class="nav-button back" href="{{ site.baseurl }}{{page.next.url}}">BACK</a>
        {% endif %}
        {% if page.previous.url %}
            <a class="nav-button next" href="{{site.baseurl}}{{page.previous.url}}"><span>NEXT</span></a>
        {% endif %}
    </div>

    <div class="footer__content">
        <p class="phone">07972 205 367</p>
        <p class="email">annabeljwalsh@gmail.com</p>
    </div>
</footer>