<header class="header">
    <div class="row header__content">
        <div class="logo-container col-xs-4 col-sm-6">
            <a href="{{ site.url }}{{ site.baseurl }}" class="logo">
                <p class="logo-plain"><span>A</span>NNABEL <span>W</span>ALSH</p>
                <p class="logo-green">A<span>N</span><span>N</span><span>A</span><span>B</span><span>E</span><span>L</span> W<span>ALSH</span></p>
            </a>
        </div>
        <div class="links-container col-xs-8 col-sm-6">
            <a href="{{ site.baseurl }}/about" class="link button" title="About">About</a>
            <a href="{{ site.baseurl }}/assets/AnnabelWalsh_CV.pdf" class="link button" title="View CV" target="_blank">View CV</a>
        </div>
    </div>
</header>