.about {
  &__content {
    margin-top: 88px;
    padding: 0 8px;
  }

  &__contact {
    text-align: center;
    margin-top: 40px;

    h3 {
      margin: 16px 0 0;
      font-weight: 500;
      font-size: 12px;
    }

    p {
      margin: 0;
      margin: 0
    }
  }

  &__buttons {
    margin-top: 40px;
    text-align: center;
  }
}