$backgroundColor: #F6F2F0;
$textColor: #342722;
$primaryColor: #0AD68D;
$secondaryColor: #EDE6E3;
$secondaryColorDark: #9D8D87;
$bodyFont: "Hind",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@import "grid";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background: $backgroundColor;
  color: $textColor;
  font-family: $bodyFont;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 75px;
}

.main-content {
  flex: 1;
}

ul {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.button {
  text-decoration: none;
  color: $textColor;
  border: 1px solid $primaryColor;
  padding: 4px 8px;
  border-radius: 4px;

  &:hover {
    background-color: $primaryColor;
    font-weight: 500;
  }
}

.mb8 {
  margin-bottom: 8px;
}

.mb32 {
  margin-bottom: 32px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
}

::-webkit-scrollbar-thumb:hover {
  background: $primaryColor;
}

::-webkit-scrollbar-track {
  background: $secondaryColor;
}

::-webkit-scrollbar-track:hover {
  background: $secondaryColor;
}

::-webkit-scrollbar-track:active {
  background: $secondaryColor;
}

@import "about";
@import "footer";
@import "header";
@import "index";
@import "project";