.footer {
  padding: 1rem 1rem 0;

  &__content {
    width: 100%;
    border-top: 2px solid #0AD68D;
    display: flex;
    justify-content: space-between;

    p {
      margin: 24px 0;
    }
  }

  .project-nav-buttons {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;

    &.no-previous {
      justify-content: flex-end;
    }

    .nav-button {
      font-size: 12px;
      color: #342722;
      text-decoration: none;
      padding: 4px 8px;
      border: 1px solid transparent;
      border-radius: 2px;

      &:hover {
        border: 1px solid $primaryColor;
      }
    }
  }
}