.header {
  padding: 1rem 1rem 0;
  background-color: $backgroundColor;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;

  &__content {
    align-items: center;
    border-bottom: 2px solid $secondaryColorDark;
  }

  .logo-container {
    align-items: center;

    .logo {
      position: relative;
      text-decoration: none;

      p {
        color: $textColor;
        font-weight: 500;
        margin: 0;
        font-size: 38px;
      }

      span {
        color: transparent;
      }

      .logo-plain {
        opacity: 1;
        letter-spacing: normal;
        transition: all 1s ease;
      }

      .logo-green {
        color: $primaryColor;
        position: absolute;
        top: 0;

        span {
          transition: all 1s ease;
          width: 23px;
          display: inline-block;
        }
      }
    }

    &.scrolled {
      .logo-green {
        span {
          width: 0px;
        }
      }

      .logo-plain {
        opacity: 0;
        letter-spacing: -19px;
        transition: all 1s ease;
      }
    }
  }

  .links-container {
    text-align: right;

    .button {
      display: inline-block;
    }
  }
}