.header {
  padding: 1rem 1rem 0;
  background-color: $backgroundColor;
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 1700px;
  z-index: 1;

  &__content {
    align-items: center;
    border-bottom: 2px solid $secondaryColorDark;
  }

  .logo-container {
    align-items: center;

    .logo {
      position: relative;
      text-decoration: none;

      p {
        color: $textColor;
        font-weight: 500;
        margin: 0;
        font-size: 38px;
      }

      span {
        color: transparent;
      }

      .logo-plain {
        opacity: 1;
        letter-spacing: normal;
        transition: all 1s ease;

        @media only screen and (max-width: 600px) {
          opacity: 0;
          letter-spacing: -19px;
        }
      }

      .logo-green {
        color: $primaryColor;
        position: absolute;
        top: 0;

        span {
          transition: all 1s ease;
          width: 23px;
          display: inline-block;

          @media only screen and (max-width: 600px) {
            width: 0px;
          }
        }
      }
    }

    &.scrolled {
      .logo-green {
        span {
          width: 0px;
        }
      }

      .logo-plain {
        opacity: 0;
        letter-spacing: -19px;
        transition: all 1s ease;
      }
    }
  }

  .links-container {
    text-align: right;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}