.about-section {
  font-size: 18px;
  font-weight: 500;
  padding-top: 48px;
  padding-right: 24px;

  &__inner {
    position: sticky;
    top: 48px;
  }

  p {
    margin-top: 0;
  }
}

.project-list {
  padding-top: 48px;
  padding-left: 24px;
  padding: 48px 24px 0;

  .project {
    text-decoration: none;
    color: $textColor;

    &__content {
      margin: 1rem;
      background-color: $secondaryColor;
    }

    &__header {
      font-weight: 500;
      font-size: 18px;

      .title {
        text-transform: uppercase;
      }
    }

    &__image-container {
      padding-left: 24px;

      img {
        width: 100%;
      }
    }

    &__description {
      margin-top: 32px;
    }
  }
}