<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <header class="header">
      <div class="row header__content">
        <div class="logo-container col-xs-6">
          ANNABEL WALSH
        </div>
        <div class="links-container col-xs-6">
          <a href="" class="link button" title="Contact" target="_blank">Contact</a>
          <a href="" class="link button" title="View CV" target="_blank">CV</a>
        </div>
      </div>
    </header>
    <div class="main-content">
      {{ content }}
    </div>

  </body>
</html>
