<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.png" | relative_url }}">
</head>
<body class="about-page">

    {% include header.html %}

    <div class="main-content row">
        <div class="about col-md-6 col-md-offset-3 col-sm-12">
            <div class="about__content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include script.html %}
</body>
</html>