<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.png" | relative_url }}">
</head>
<body class="project-page">

    {% include header.html %}

    <div class="main-content row">
        <div class="project {{ page.title | handleize }} col-md-6 col-md-offset-3 col-sm-12">
            <div class="project__header">
                <div class="project__details">
                    <h1>{{ page.title }}</h1>
                    <div class="detail-lists">
                        <div class="focus-list list">
                            {% assign focus_list = page.focus | split: "," %}
                            <span class="list-heading">Focus</span>
                            <ul>
                                {% for focus in focus_list %}
                                    <li>{{ focus }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tools-list list">
                            {% assign tools_list = page.tools | split: "," %}
                            <span class="list-heading">Tools used</span>
                            <ul>
                                {% for tool in tools_list %}
                                    <li>{{ tool }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project__image">
                    <img src="{{ site.baseurl }}/assets/img/{{ page.image }}">
                </div>
            </div>
            <div class="project__content">
                {{ content }}

                {% if page.external_link %}
                    <div class="project__button">
                        <a href="{{ page.external_link }}" title="View {{ page.title }}" target="_blank" class="button">
                            <span>View {{ page.title }}</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include script.html %}

</body>
</html>